html, body {
  height: 100%;
}

body {
  background: url('/img/body.gif') repeat scroll 0 0 #F8F8F8;
  color: #333;
  font-family: 'Open Sans', 'Times New Roman', Times, Georgia, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: font-size 0.2s ease-out 0.05s;
}

div {
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-name: show;
  animation-timing-function: ease-in-out;
  margin: 0 12% 0 6%;
  padding: 2em 0 0;
}

h1, p, a {
  text-shadow: 1px 1px 0 #FFF;
}

h1 {
  font-size: 2em;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  margin: 0 0 1em;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: #1F7AD7;
  color: #FFF;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url('https://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@keyframes show {
  0% {
    transform: rotate(18deg) scale(0.2);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
